<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="welcome-banner">
    <span id="username">Manage Friends</span>
  </div>
  <div class="content">
    <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input [(ngModel)]="searchUser" placeholder="Search user...">
    </div>
    <button (click)="addFriend()">Agregar amigo</button>
    <hr>
    <h2>Mis amigos</h2>
    <ul>
      <li *ngFor="let friend of friends">
        {{ friend }}
        <!-- Asegúrate que el botón de eliminar tenga la clase 'delete' para el estilo rojo -->
        <button class="delete" (click)="deleteFriend(friend)">Eliminar amigo</button>
      </li>
    </ul>
  </div>
  <div class="logout-banner">
    <div class="return-button">
      <button (click)="return()">Return</button>
    </div>
    <span>Hi, <span id="username">{{ username }}</span>!</span>
    <div class="logout-button">
      <button (click)="logout()">Exit</button>
    </div>
  </div>
</div>