/* Estilos básicos del contenedor principal para centrarlo */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5E7F88; /* Azul para el fondo de la aplicación */
  font-family: 'DM Sans', sans-serif; /* Fuente general */
}

/* Estilo del formulario */
.form-login {
  padding: 40px;
  background-color: #FDFEEE; /* Amarillo claro para el fondo del formulario */
  border: 1px solid #000; /* Borde negro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px; /* Ancho más grande */
  display: flex;
  flex-direction: column;
}

/* Estilos para las etiquetas e inputs */
.form-group {
  margin-bottom: 20px; /* Espacio aumentado */
}

h2 {
  font-family: 'Oswald', sans-serif; /* Fuente para títulos */
  color: black;
  margin-bottom: 20px;
  text-align: center;
}

label {
  color: black; /* Color negro para etiquetas */
  display: block;
  margin-bottom: 10px;
  font-size: 16px; /* Tamaño de fuente más grande */
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 15px; /* Padding más grande para mayor facilidad de entrada */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px; /* Tamaño de fuente más grande */
}

/* Estilos para los botones */
button {
  width: 100%;
  padding: 15px; /* Padding más grande */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px; /* Tamaño de fuente más grande */
  margin-top: 20px; /* Más espacio sobre el botón */
}

.btn-login {
  background-color: #FBB566; /* Naranja para el botón principal */
}

/* Botón hover efectos */
button:hover {
  opacity: 0.9;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 14px; /* Tamaño de fuente para mensajes de error */
}
