.container {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #FDFEEE; /* Color de fondo amarillo claro */
    height: calc(100vh - 100px); 
    overflow: hidden;
  }
  
  /* Banner de bienvenida en la barra de navegación */
  .welcome-banner {
    background-color: #5E7F88; /* Azul oscuro */
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    border-bottom: 5px solid #FBB566; /* Borde naranja */
    z-index: 10; /* Asegura que siempre esté sobre otros elementos */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .content {
    padding-top: 140px; /* Aumentar el padding superior para compensar el espacio del banner fijo */
    padding-bottom: 100px; /* Aumentar el padding inferior para compensar el espacio del logout-banner */
    margin-top: 0; /* Ajustar según la altura del welcome-banner */
    gap: 20px;
    position: absolute;
    top: 0;
    left: 15px;
    right: 0;
    bottom: 60px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    align-items: center;
    flex-direction: column;
  }
  
  .logout-banner {
    background-color: #5E7F88; /* Azul oscuro */
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1); /* Sombra hacia arriba */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 5px solid #FBB566; /* Barra divisoria naranja */
  }
  
  .return-button {
    margin: 0 10px; /* Espaciado a ambos lados para equilibrio */
  }
  
  .return-button button {
    background-color: #FBB566;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .return-button button:hover {
    opacity: 0.9;
  }
  
  .logout-button {
    margin: 0 50px; /* Espaciado a ambos lados para equilibrio */
  }
  
  .logout-button button {
    background-color: #FBB566;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logout-button button:hover {
    opacity: 0.9;
  }

  .friend-with-notes {
    width: 100%; /* Full width to utilize space for notes */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .friend-with-notes h2 {
    text-align: center;
    color: #333;
  }
  
  .notes-container {
    display: flex;
    flex-wrap: wrap; /* Allow notes to wrap to next line */
    justify-content: start; /* Align notes to the start */
    padding: 10px 0;
  }
  
  .note {
    background-color: #F8F8F3; /* Light background similar to login style */
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    min-width: 276px;
    max-width: 320px;
  }
  
  .note h3 {
    margin: 0;
    color: #333;
  }
  
  .note div[innerHTML] {
    margin-top: 5px;
  }