<div class="container">
  <div class="welcome-banner">
    <span id="username">Friendship</span>
  </div>
  <div class="content">
    <div class="main-action-button">
      <button (click)="manageFriends()">Manage friends</button>
    </div>
    <div class="main-action-button">
      <button (click)="friendNotes()">Friends notes</button>
    </div>
  </div>
  <div class="logout-banner">
    <div class="return-button">
      <button (click)="return()">Return</button>
    </div>
    <span>Welcome again, <span id="username">{{ username }}</span>!</span>
    <div class="logout-button">
      <button (click)="logout()">Exit</button>
    </div>
  </div>
</div>